@media screen and (max-width: 1400px) {
    .container {
        padding: 0 100px;
    }
}
@media screen and (max-width: 1300px) {
    .contact__top {
        flex-direction: column;
        align-items: center;
    }
    .contact__form {
        top: -120px;
        max-width: 500px;
    }
    .contact__bottom {
        margin-top: -900px;
        height: 1000px;
        background-size: cover;
        background-position: top;
    }
    .contact__bottom-inner {
        display: flex;
        justify-content: center;
    }
    .contact__bottom-content {
        margin-top: 700px;
    }
}
@media screen and (max-width: 880px) {
    .container {
        padding: 0 50px;
    }
}
@media screen and (max-width: 768px) {
    .header {
        width: 100%;
        position: fixed;
        z-index: 9999; 
    }
    .header__inner {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .nav {
        display: none;
        flex-direction: column;
        background: white;
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: 9998;
    }
    .nav_active {
        display: flex;
    }
    .nav__link {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .nav__link:last-child {
        margin-bottom: 0;
    }
    .burger-icon {
        display: block;
        width: 32px;
        height: 32px;
        position: relative;
        z-index: 9999;
    }
    .burger-icon__line {
        width: 100%;
        height: 3px;
        border-radius: 50px;
        background: black;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: opacity .1s ease, transform .1s ease;
    }
    .burger-icon__line::before, .burger-icon__line::after {
        content: '';
        width: 32px;
        height: 3px;
        border-radius: 50px;
        background: black;
        position: absolute;
        transition: opacity .1s ease;
    }
    .burger-icon__line::before {
        bottom: 10px;
    }
    .burger-icon__line::after {
        top: 10px;
    }
    .burger-icon_close > .burger-icon__line::before {
        opacity: 0;
    }
    .burger-icon_close > .burger-icon__line {
        transform: rotate(45deg);
    }
    .burger-icon_close > .burger-icon__line::after {
        transform: rotate(-90deg);
        top: 0;
    }
}
@media screen and (max-width: 680px) {
    .contact__evgeniya-pict {
        width: 300px;
    }
    .contact__form {
        top: -20px;
    }
    .contact__bottom {
        margin-top: -800px;
    }
    .contact-cloud-message {
        margin-left: -70px;
    }
    .contact-cloud-message__text {
        font-size: 16px;
        left: 74%;
    }
    .contact-cloud-message__cloud {
        width: 300px;
    }
}
@media screen and (max-width: 520px) {
    .container {
        padding: 0 10px;
    }
    .title {
        font-size: 24px;
        margin-bottom: 40px;
    }
    .contact__dialog {
        margin-right: 20px;
    }
    .contact-cloud-message {
        margin-left: -90px;
        margin-top: -50px;
    }
    .contact__evgeniya-pict {
        width: 200px;
    }
    .contact-cloud-message__text {
        font-size: 12px;
        left: 90%;
    }
    .contact-cloud-message__cloud {
        width: 200px;
    }
    .contact__bottom {
        margin-top: -650px;
    }
    .contact__form {
        padding: 40px;
        top: -20px;
    }
    .contact-field {
        margin-bottom: 10px;
    }
    .contact-field__textarea {
        height: 130px;
    }
}
@media screen and (max-width: 430px) {
    .contact__bottom {
        height: 800px;
    }
    .contact__bottom-content {
        margin-top: 540px;
    }
    .contact__title {
        font-size: 16px;
    }
    .contact__socials {
        display: flex;
        justify-content: center;
    }
    .contact__link {
        width: 70px;
        height: 70px;
        margin-right: 10px;
    }
    .contact__link:last-child {
        margin-right: 0;
    }
    .contact__icon {
        width: 50px;
        height: 50px;
    }
}
@media screen and (max-width: 420px) {
    .contact__flower_1 {
        width: 50px;
    }
    .contact__flower_2 {
        width: 40px;
        left: -25px;
        top: 40px;
    }
    .contact__bottom {
        margin-top: -550px;
    }
    .contact__form {
        padding: 20px;
        top: -20px;
    }
    .contact-field {
        margin-bottom: 10px;
    }
    .contact-field__input {
        width: 250px;
    }
    .contact-field__textarea {
        height: 80px;
    }
    .contact-field__submit {
        height: 40px;
    }
}