.modal-product {
    display: none;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000;
}
.modal-product_active {
    display: flex;
}
.modal-product__inner {
    max-width: 1000px;
    margin-top: 30px;
    background: white;
    border-radius: 15px;
    padding: 30px;
    overflow-y: scroll;
}
.modal-product__close {
    position: fixed;
    z-index: 2;
}
.modal-product__content {
    margin-top: 50px;
}
.modal-product__title {
    text-align: center;
    margin-bottom: 20px;
}
.modal-product__text{
    margin-bottom: 30px;
}
.modal-product__picts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}
.modal-product__media {
    width: 100%;
    max-width: 800px;
    height: 500px;
}
.buttons {
    display: flex;
    justify-content: space-between;
}
.product {
    width: 350px;
    height: 350px;
    border-radius: 25px;
    padding: 80px 20px 0;
    cursor: pointer;
}
.product_maze {
    background: url('../media/bag-svg/maze.svg') bottom / 100% no-repeat, linear-gradient(180.11deg, #FFFFFF 42.13%, #FCA14B 99.91%);
}
.product_stairs {
    background: url('../media/bag-svg/stairs.svg') bottom / 100% no-repeat, linear-gradient(180.11deg, #FFFFFF 42.13%, #79F4AF 99.91%);
}
.product_numbers {
    background: url('../media/bag-svg/numbers.svg') bottom / 100% no-repeat, linear-gradient(180.11deg, #FFFFFF 42.13%, #EB536B 99.91%);
}
.product__name {
    font-size: 22px;
}
.freetime__link, .useful-links__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    background: white;
    border-radius: 13px;
}
.freetime__name, .useful-links__name {
    font-size: 22px;
}
.freetime__button, .useful-links__button {
    padding: 10px 7px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    background: var(--orange);
    text-transform: uppercase;
}
.freetime__button {
    display: flex;
    gap: 5px;
    align-items: center;
    border: 1px solid #1D409D;
    color: #1D409D;
    background: white;
}
.researchers {
    display: grid;
    grid-template-columns: repeat(auto-fill, 500px);
    gap: 50px;
    justify-content: center;
}
.researcher__item {
    width: 100%;
    padding: 40px;
    background: #FFFFFF;
    border-radius: 25px;
}
.researcher__picts {
    height: 500px;
    margin-bottom: 20px;
    border-radius: 15px;
    overflow: hidden;
}
.researcher__media {
    height: 100%;
    position: relative;
}
.researcher__pict {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}
.researcher__name {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}
.researcher__button {
    justify-content: center;
}
.researcher__picts_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}
.researcher__picts_3 {
    display: grid;
    gap: 8px;
    grid-template-areas: "a b" "c c";
}
.researcher__picts_3 > .researcher__media:nth-child(1) {
    grid-area: a;
}
.researcher__picts_3 > .researcher__media:nth-child(2) {
    grid-area: b;
}
.researcher__picts_3 > .researcher__media:nth-child(3) {
    grid-area: c;
}